[flake8]
max-line-length = 100
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    node_modules,
    frontend
per-file-ignores =
    main/tests/*: E501,F401,F811,F821,E305,E402
    main/migrations/*.py: E501,E111,E114,F401,F841
    main/tests/test_search_and_routes.py: E115
